<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect("http://ip del pc:5000")
                socket.on('connect', function(){
                    socket.send("User Conected!");
                });

                socket.on('message', function(data){
                    $('#messages').append($('<p>').text(data));
                })
                $('#sendButton').on('click', function(){
                    socket.send($('#username').val() + ': ' + $('#message').val());
                })
            })
        </script>
        <div id="messages">

        </div>
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="message" placeholder="Message">
        <button id="sendButton">Send</button>
    </body>
</html>